@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
:root {
  --primary-color: #2f1b41;
  --secondary-color: #9f1e49;
  --color-title: #fecd51;
  --white: #f2f2f2;
  --black: #000000;


  --color1:#0d2738;
--color2: #52577b;
--color3: #26afa3;
--color4: #8edc9f;
--color5: #e2e2a8;
}
html {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--color1);
  font-family: "Poppins", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a{
  text-decoration: none;
}
/* Header */
.header {
  position: relative;
  display: grid;
  grid-template-rows:  1fr;
  color: var(--white);
 
  background-color: var(--color1);


  top: 0%;
}
.nav__title{
  padding-left: 50px;
  font-size: 28px;
}
.nav__title-logo{
  
  color: var(--color4);
}
.nav__logo--variant{
  color: var(--color3);
}

.nav {
  padding-top: 12px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link {
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding-right: 40px;
}
.nav-links {
  color: var(--color3);
  text-decoration: none;
  font-size: 16px;
}
.nav-items {
  list-style: none;
}
.nav-menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

@media (max-width: 480px) {
  .nav-link {
    display: block;
  }
}
/*Fin del Header*/

/* Contenido Principal*/
.principal {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
 
  /*Descripcion Inicial*/

}
.description {
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-content: center;

  max-width: 1200px;
  border-radius: 12px;

}
.description-text {
  text-align: center;
  
  padding-top: 20px;
}
.title{
  display: inline-block;
}
.description-title {
  display: inline-block;
 border-right: 5px solid;
width: 100%;
 white-space: nowrap;
 overflow: hidden;
 animation: typing 2s steps(28),
            cursor .4s step-end infinite alternate;
  text-transform: uppercase;
  text-align: center;
  color: var(--color3);
}
@keyframes cursor {
  50%{border-color: transparent;}
}
@keyframes typing {
  from{width:0}
}
.description-paragraph {
  text-align: center;
  font-size: 18px;
  color: var(--white);
}
.description-image {
  display: flex;
  align-self: center;
  width: 200px;
  height: 200px;
  clip-path: circle(50% at 50% 50%);
  object-fit: cover;
  z-index: -1;
}
.contact-links{

 display: flex;
 flex-direction: row;
 gap: 12px;
 justify-content: center;
}
/* Fin Descripción Inicial*/

/* Seccion Wrapper */
.cont-title{
  text-align: center;
  color:#26afa3;
  text-transform: uppercase;
}
.counter-container{
  display: flex;
  align-items: center;
  justify-content: center;

}
.wrapper{
  display: flex;
  width: 1000px;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: space-around;
  gap: 1rem;

}
.cont{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em ;
  position:relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #26afa3;
 
  box-shadow:#1d577e 5px 10px 0px 0px;
}
i{
  color:#0d2738;
  font-size: 2.5em;
  text-align: center;
  padding-top: .5rem;
}
span.num{
  color: #000000;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
  
 
}
summary{
  text-align: center;
}
span.text{
  color:#000000;
  font-size: 1em;
  pad:0.7em 0;
  font-weight: 400;
  padding-bottom: .5rem;
  text-transform: uppercase;
  
}
@media screen and (max-width:1024px){
  .wrapper{
    width: 85vw;
  }
  .cont{
    font-size: 12px;
  }
  
}
@media screen and (max-width:768px){
  .wrapper{
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .cont{
    width:calc(50% - 40px);
    height: 30vmin;
    font-size: 19px;
  }
}
@media screen and (max-width:480px ){
    .wrapper{
      
      gap: 15px;
    }
    .cont{
      padding: 1rem;
      width: 100%;
      height: 25vmin;
      font-size: .6rem;
    }
}
/* Fin Seccion Wrapper */



/* Sección Skills*/

.Skills {
  border-top: 3rem;
  border-radius: 20px;
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 26px;
  
  box-shadow:#1d577e 10px 10px 0px 0px;
  
  
}
@media (min-width: 768px){
    .Skills{
      max-width: 1200px;
    }
}

.Skills h2 {
  text-transform: uppercase;
  color: var(--color1);
}
.skills-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  padding-left: 12px;
  padding-right: 12px;
  color: var(--color1);
}

.skills-section h3 {
  text-transform: uppercase;
}
.skills-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color4);
  border-radius: 12px;
  padding: 24px 24px;
  margin-block-end: 12px;
  box-shadow:#2f1b41 10px 10px 0px 0px;
}

@media (min-width: 720px) {
  .python-section {
    grid-column: 2/2;
  }
}
@media (max-width: 480px) {
  .skills-section {
    display: grid;
    grid-template-columns: 1fr;
  }


}
.skills-section img {
  width: 52px;
  height: 52px;
}
/* Fin Sección Skills*/

/* Sección del Formulario*/
.formulario {
  width: min(600px, 100%);
  padding: 40px;
  margin-block-start: 12px;
  border-radius: 20px;
  background-color: var(--color3);
  box-shadow:#000000 10px 10px 0px 0px;
 
}



.formulario fieldset {
  border: none;
  color: var(--black);
}
.correcto{
  padding:1rem;
  background-color: var(--color1);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--white);
}
.error{
  padding:1rem;
  background-color: var(--color-title);
  border-radius: 2rem;
  text-transform: uppercase;
  color: var(--black);
}
@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
  }
  .campo:nth-child(3) {
    grid-column: 1/3;
  }
  .campo:nth-child(4) {
    grid-column: 1/3;
  }
}

.formulario legend {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;

}
.campo{
  position: relative;
  margin: 20px 0 40px;
  width: 100%;
}
.campo input{
  background-color: transparent;
  border: 0;
  border-bottom: 2px #0d2738 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  padding-top: 20px;
  font-size: 18px;
  color: #0d2738;
}
.campo input:focus,
.campo input:valid {
  outline: 0;
  
  border-bottom-color: var(--black);
}

.campo:active{
  background-color: transparent;
}

 .formulario-label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}
#ocultar{
  opacity: 0;
}
.campo textarea {
  height: 200px;

}

.campo label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #0d2738;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.campo input:focus+label span,
.campo input:valid+label span {
  color: #000000;
  transform: translateY(-30px);
}
.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  background-color: var(--color4);
  color: var(--black);
  font-size: 16px;
  border-radius: 0.5rem;
}
.mensaje{
  position: relative;
  text-transform: uppercase;
  top:0;
  left: 0;
  color: black;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
}

.boton {

  border: none;
  background-color: var(--color1);
  color: var(--color3);
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: all .3s ease;
  text-transform: uppercase;
  width: auto;
  align-content: center;
  box-shadow:#1d577e 5px 10px 0px 0px;
}

.boton:hover{
  cursor: pointer;
  background-color: #0d2738;
  box-shadow: #8edc9f 0px 7px 0px 0px;
  color:#8edc9f;
}
.boton:active{
  background-color: white;
 /*50, 168, 80*/
 box-shadow: white 0px 0px 0px 0px;
 transform: translateY(5px);
 transition: 200ms;
}
/* Fin del Formulario*/

/* Footer */
.footer {
  color: var(--white);
  text-align: center;
}
.footer h3:hover{
  animation-name: credits;
  animation-duration: 2s;
}
@keyframes credits {
  100%{
    color: orange;
  }
}
.footer p,
.footer h3 {
  margin-block-end: 0;
  margin-block-start: 0;
}

@media (max-width: 480px) {
  footer p{
font-size: 12px;
  }
  footer h3{
    font-size: 18px;
  }
}
